---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const translations = (await getCollection("translations")).map(
    (translation) => translation.id,
);
---

<Layout>
    <div data-translations={JSON.stringify(translations)} id="translations">
    </div>
</Layout>

<script>
    const translationsEl = document.getElementById("translations");
    const translations = JSON.parse(
        translationsEl?.getAttribute("data-translations") ?? "[]",
    );

    function redirectToLanguage(lang: string) {
        window.location.href = `/${lang}`;
    }

    function getDefaultLanguage() {
        let lang = navigator.language.slice(0, 2).toLowerCase();
        if (translations.includes(lang)) return lang;
        return "en";
    }

    function redirect() {
        let storedLang = localStorage.getItem("lang");
        if (!storedLang) return redirectToLanguage(getDefaultLanguage());

        if (!translations.includes(storedLang))
            return redirectToLanguage(getDefaultLanguage());
        redirectToLanguage(storedLang);
    }

    redirect();
</script>
