---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const translations = (await getCollection("translations")).map(
    (translation) => translation.id,
);
---

<Layout>
    <div data-translations={JSON.stringify(translations)} id="translations">
    </div>
</Layout>

<script>
    function redirectToLanguage(lang: string) {
        window.location.href = `/${lang}`;
    }

    function redirect() {
        let storedLang = localStorage.getItem("lang");
        if (!storedLang) return redirectToLanguage("en");

        const translationsEl = document.getElementById("translations");
        const translations = JSON.parse(
            translationsEl?.getAttribute("data-translations") ?? "[]",
        );

        if (!translations.includes(storedLang)) return redirectToLanguage("en");
        redirectToLanguage(storedLang);
    }

    redirect();
</script>
