---
import Twitter from "./icons/twitter.astro";
import Github from "./icons/github.astro";
import type { Translation } from "../content.config";

interface Props {
    translation: Translation;
}

const { translation } = Astro.props;
---

<div class="container" id="findme">
    <h2>{translation.headings.findme}</h2>
    <div class="socials">
        <a href="https://x.com/orion_offi">
            <Twitter />
        </a>
        <a href="https://github.com/oriionn">
            <Github />
        </a>
    </div>
</div>

<style>
    #findme {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
    }

    a {
        border: none;
    }

    .socials {
        margin-left: 15px;
        margin-top: 5px;
    }
</style>
