<div id="head" class="container">
    <div>
        <a href="/?fr">fr</a>
        <span>|</span>
        <a href="/?en">en</a>
    </div>
</div>

<style>
    #head {
        margin: 5px 0;

        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #head > div {
        margin-left: auto;
        margin-right: 0;
    }
</style>
