---
import { Image } from "astro:assets";
import avatar from "../assets/avatar.png";
import type { Translation } from "../content.config";

interface Props {
    translation: Translation;
}

const { translation } = Astro.props;
---

<div class="container" id="profile">
    <Image src={avatar} alt="My profile picture" class="avatar" />
    <h1>{translation.title}</h1>
    <p>
        {translation.description}
    </p>
</div>

<style>
    .avatar {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        border-radius: 10px;
    }

    h1 {
        margin: 0 !important;
    }
</style>
