---
import { Image } from "astro:assets";
import avatar from "../assets/avatar.png";
import type { Translation } from "../content.config";

interface Props {
    translation: Translation;
    lang: string;
}

const { translation, lang } = Astro.props;
---

<div class="container" id="profile">
    <Image src={avatar} alt="My profile picture" class="avatar" />
    <h1>
        <span data-translation-night={translation.title_night
            ? translation.title_night
            : null}
        id="title">{translation.title}</span>
        {lang === "trans" ? (
            <a href="https://gender.fandom.com/wiki/Demigirl" target="_blank" class="flag"><img src="https://cdn.demigirl.dev/demigirl.png" /></a>
        ):null}
    </h1>
    <p>
        {translation.description}
    </p>
</div>

<style>
    .avatar {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        border-radius: 10px;
    }

    .flag {
        border: none;
    }

    .flag img {
        width: 30px;
        border-radius: 2px;
    }

    h1 {
        margin: 0 !important;
    }
</style>

<script>
    const title = document.getElementById("title");
    if (title?.getAttribute("data-translation-night")) {
        const date = new Date();
        if (date.getHours() >= 18 || date.getHours() < 4) {
            // @ts-ignore
            title.innerHTML = title.getAttribute("data-translation-night");
        }
    }
</script>
